body {
    height: 300px;
}


.box {
    width: 300px;
    border: 2px solid black;
    margin: 100px auto;
    padding: 20px;
    outline: 2px solid green;
    box-sizing: border-box;
}

.link {
    display: block;
    width: 100px;
    font: 16px/16px arial;
    color: white;
    background: tomato;
    text-align: center;
    padding: 10px 0;
    text-decoration: none;
    border-radius: 10px;
    border: 1px solid green;
}

.link:hover {
    background: #fff;
    color: tomato;
}

.link:active {
    background: tomato;
    color: white;
}



